.time-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-color);

  .available-container {
    max-width: 700px;
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    direction: rtl;
    font-family: "IRANSans", sans-serif;
    width: 450px;
margin-top: 50px;
    h2 {
      text-align: center;
      font-size: 1.4rem;
      color: #333;
      margin-bottom: 1.5rem;
    }

    .day-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2rem;

      label {
        margin-bottom: 0.3rem;
        color: #444;
        font-weight: 500;
        display: flex;
        margin-bottom: 14px;
      }

      select {
        padding: 0.6rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 1rem;
        outline: none;
        transition: border 0.2s ease;

        &:focus {
          border-color: #3f51b5;
        }
      }
    }

    .range-item {
      display: flex;
      align-items: end;
      justify-content: space-between;
      gap: 1rem;
      margin-bottom: 0.8rem;
      background: #fafafa;
      border-radius: 12px;
      padding: 0.8rem 1rem;

      .picker {
        text-align: center;
        display: flex;
        flex-direction: column;
        label {
          font-size: 0.85rem;
          color: #555;
          margin-bottom: 10px;
        }
        input {
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 0.4rem;
          text-align: center;
          width: 110px;
        }
      }

      .remove-btn {
        background: #ff5252;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 0.5rem 0.8rem;
        cursor: pointer;
        font-weight: 600;
        transition: background 0.2s ease;

        &:hover {
          background: #e53935;
        }
      }
    }

    .add-btn,
    .save-btn {
      width: 100%;
      padding: 0.7rem;
      border: none;
      border-radius: 10px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 0.8rem;
      transition: background 0.2s ease;
    }

    .add-btn {
      background: #f1f1f1;
      &:hover {
        background: #e0e0e0;
      }
    }

    .error {
      color: #d32f2f;
      text-align: center;
      margin-top: 1rem;
    }
  }
}
