.container {
  margin-top: 50px;
  .time-page {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    font-family: "IRANSans", sans-serif;

    .available-container {
      border-radius: 20px;
      padding: 2rem;
      text-align: center;
      width: 95%;
      max-width: 1000px;

      h2 {
        color: #2f3b52;
        margin-bottom: 1.5rem;
      }

      .time-grid {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        overflow-x: auto;
        padding-bottom: 1rem;
        max-height: 400px;
        overflow-y: auto;
        .day-column {
          display: flex;
          flex-direction: column;
          align-items: center;

          .day-header {
            font-weight: bold;
            color: #2f3b52;
            margin-bottom: 0.6rem;
          }

          .time-slot {
          background-color: #ffff;
           color: var(--primary-dark);
            border: 1px solid #d0d4da;
            border-radius: 10px;
            padding: 0.5rem 0.8rem;
            margin-bottom: 0.5rem;
            width: 70px;
            font-size: 0.9rem;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
              background: var(--primary-light);
              color: var(--text-light);
            }

            &.selected {
              background-color: var(--primary-light);
              color: var(--text-light);
              border-color:  var(--bg-color);;
            }
          }
        }
      }

      .save-btn {
        background:  var(--primary-light);
        color: white;
        border: none;
        border-radius: 12px;
        padding: 0.7rem 1.2rem;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 1rem;
        font-weight: bold;
        transition: background 0.2s;

        &:hover {
          background:  var(--primary-dark);
        }
      }
    }
  }
}
