.btn {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-inline: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-size-p);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:focus {
    outline: 2px solid var(--btn-bg);
    outline-offset: 2px;
  }

  &-primary {
    background-color: var(--bg-btn);
    color: var(--text-light);

    &:hover {
      background-color: var(--primary-light);
      transform: translateY(-2px);
    }
  }

  &-secondary {
    background-color: var(--primary-light);
    color: var(--text-light);

    &:hover {
      background-color: var(--primary-dark);
      transform: translateY(-2px);
    }
  }

  &-icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--text-color);
      transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        fill: var(--primary-light);
        transform: scale(1.1);
      }
    }
  }
}