.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background-color: var(--bg-color);
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
  }
}

.modal {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 2rem;
  border-radius: 12px;
  min-width: 350px;
  max-width: 400px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  h2 {
    margin-bottom: 1.5rem;
    font-size: var(--font-size-h2);
    text-align: center;
  }

  input {
    width: 95%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: var(--font-size-p);

    &:focus {
      border-color: var(--text-color);
    }
  }

  .btn {
    width: 100%;
    padding: 0.7rem;
    font-size: var(--font-size-p);
    cursor: pointer;
  }
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
}
