.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

  &.light {
    background: #fff;
    color: #000;
  }

  &.dark {
    background: #222;
    color: #fff;
  }

  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding-left: 2rem;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s;
    }

    .login {
      background-color: #007bff;
      color: #fff;
    }
    .sign {
      background-color: #28a745;
      color: #fff;
    }
    .logout {
      background-color: #dc3545;
      color: #fff;
    }

    .btn:hover {
      opacity: 0.9;
      transform: scale(1.05);
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      color: #333;
      justify-items: center;
    }
  }
}
