.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  color: var(--text-color);
  h2 {
    font-size: var(--font-size-h2);
  }
  span {
    font-size: var(--font-size-p);
  }
  .logo {
    font-size: var(--font-size-h3);
    font-weight: bold;
    color: var(--text-color);
    padding-left: 2rem;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn {
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.2s;
    }

    .btn:hover {
      opacity: 0.9;
      transform: scale(1.05);
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      color: var(--text-color);
      justify-items: center;
    }
  }
}
